{%load static%}
<html>
<head>
<meta name='viewport' content='width=device-width initial-scale=1'>
<script src="{%static 'Js\jquery.min.js'%}" /></script>
<script src="{%static 'Js\react.production.min.js'%}" ></script>
<script src="{%static 'Js\react-dom.production.min.js'%}" ></script>
<script src="{%static 'Js\babel.min.js'%}" /></script>
<script src="{%static 'Js\htmx.min.js'%}" ></script>
<link rel="stylesheet" href="{%static 'css\bootstrap\bootstrap.min.css'%}">
<!--magnific-popup-->
<!--style-->
<link rel="stylesheet" href="{%static 'css\style.css'%}">
<link rel='stylesheet' href="{%static 'css\bootstrap.min.css'%}" >
<link rel='stylesheet' href="{%static 'css\fontawesome\css\all.min.css'%}" >
<link rel='stylesheet' href="{%static 'css\acss\acss_basic.css'%}" >
{%if request.session.mode == 'dark' %}
  <link rel='stylesheet' href="{%static 'css/acss/acss_dark.css' %}">  
{%endif%}

</head>
<style>
:root{
  --primary-color:#25d366;
  --second-color:orange;

}
.sbcolor{
  background-color: orange!important;
}
body{
  font-size: 18px;
}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light b-light" style='background-color:#25d366;'>
  <a class="navbar-brand white insize" href="#"><i class='fab fa-whatsapp'></i> Whatsapp Contact Gain</a>
  {%comment%}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
{%endcomment%}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'HomeViewUrl'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      {%comment%}
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {%endcomment%}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<br />
<div class=''>
{%block content%}
{%endblock%}
</div>
</body>

</body>
</html> 