
{%extends 'base.html'%}
{%load static%}

{%block content%}
<style>
input{
    width:100%;
    height:1cm;
}
@media(max-width:700px){
    input{
        width:100%;
    }
    input[type=checkbox]{
        height:15px;
    }
}
</style>
<div class='container'> 
    <div class='ro'>
    <div class='box' style='border:none;'>
         
        <div class=''>
            <p>
                <h2 style='' class='pcolor'>
              
                Login
                
                </h2>
            <p>
             <br>
                
                
                
            <form method='post'>
                {%csrf_token%}
                        
                            {%if form.errors %}
                            <p>Invalid Username or Password</p>
                            {%endif%}
                        
                    
                    
                    {% for field in form %}
                         <div class='row'>
    
                             {{field.errors}}
                            {% if field.label == 'Remember Me'%}
                            
                            {%else%}
                             <div class='col-12 col-md-6'> {{ field.as_widget }}</div>
                             {%endif%}
                         </div>
                         <br />
                    {% endfor %}
                   
                             
                         <div class='row'> 
                        <button class='col-12 button col-md-6 active' style=''>
                            Login
                        </button>
                    </div>
                    
                        
                        
                    </p>
                    
                    
                     <hr> 
                    <p class='mesize'>
                        If you don't have an account 
                        <a class='normal mesize' href='{% url 'account_signup'%}' style='font-size:20px;baground-color:357417'>
                                SignUp
                            </a>
                    </p>
                </form>
            </p>    
    
        </div>
        
 </div>
    </div>
</div>
{%endblock%}
